<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatable" content="ie=edge"/>
        <link href="/static/css/output.css" rel="stylesheet"/>
        <title>Cashflow</title>
    </head>
    <body>
        <main class="bg-gray-50">
            <div class="flex">
                <div id="side-nav" class="fixed top-0 left-0 h-screen w-16 m-0 flex flex-col bg-white">
                    <i>A</i>
                    <i>B</i>
                    <i>C</i>
                </div>
                <div id="budget-{{.ID}}" class="md:container md:mx-auto my-4 h-screen">
                    <div class="border-b">
                        <h1 class="text-3xl">{{.Name}}</h1>
                    </div>
                    <br/>
                    <div>{{ template "categories.html" . }}</div>
                    <div>
                        <a href="/budget/{{.ID}}/category/new" class="text-blue-400">Add category</a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
